
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="@Url.Content("~/scripts/signalr-client-1.0.0-alpha2-final.js")"></script>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>

</head>
<body>
    <h1>Fulbito</h1>
    <button id="connect">Connect to Hub</button>
    <button id="send">Send message and receive notif</button>
    <script type="text/javascript">

        let connection = new signalR.HubConnection('/NotificationTest');

        //From Server to Client
        connection.on('receive', data => {
            console.log(data);
        });

        $("#connect").click(function () {
            connection.start();
        });
        $("#send").click(function () {
            connection.invoke('test', 'Notification message');
        });

    </script>
</body>
</html>

