
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="@Url.Content("~/scripts/signalr-client-1.0.0-alpha2-final.js")"></script>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>

</head>
<body>
    <h1>Fulbito</h1>
    <button id="connect">Connect to Hub</button>
    <button id="send">Send message and receive notif</button>

    <br />
    <label>Match Id: </label><input id="joinMatchAsOwnerInput" type="text" />
    <button id="joinMatchAsOwner">Join Match</button>

    <script type="text/javascript">

        let testCon = new signalR.HubConnection('/NotificationTest');

        //From Server to Client
        testCon.on('receive', data => {
            console.log(data);
        });

        $("#connect").click(function () {
            testCon.start();
        });
        $("#send").click(function () {
            testCon.invoke('test', 'Notification message');
        });

        let matchCon = new signalR.HubConnection('/Match');
        matchCon.start();
        $("#joinMatchAsOwner").click(function () {
            var matchId = $("#joinMatchAsOwnerInput").val();
            matchCon.invoke('joinAsOwner', parseInt(matchId));
            console.log('Connected with match hub');
        });
        matchCon.on('userJoined', message => {
            console.log(message);
        });
        matchCon.on('userLeft', message => {
            console.log(message);
        });
        matchCon.on('matchIsFull', message => {
            console.log(message);
        });

    </script>
</body>
</html>

